@model ProjectCouchPotatoV1.Models.Watchlist

@*<script type="text/javascript" src="/js/SearchWatchlist.js" defer></script>*@
<script src="/lib/jquery-3.7.1.min.js"></script>
<script src="/lib/vue3.js"></script>
<script src="/lib/axios.min.js"></script>
<script src="/lib/bootstrap.bundle.min.js"></script>
<link href="/lib/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/styles/Index.min.css">

<body class="watchlist">

<div id="app">
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <img src="https://image.tmdb.org/t/p/w500/@Model.poster_path" alt="Movie Image" class="img-fluid">
            </div>
            <div class="col">
                <div class="form-group">
                    <h1 class="display-4">@Model.Title</h1>
                    <p class="lead">@Model.Overview</p>
                    <button class="btn btn-secondary mt-2" v-on:click="submitWatchlist">Add to watchlist</button>
                    <form class="navbar-brand" asp-area="" asp-page="/Index">
                        <button class="btn btn-secondary mt-2">Return to home</button>
                    </form>
                    <div v-if="showSuccess" class="alert alert-success mt-2" role="alert">
                        Submit successful!
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

<script>
    const app = Vue.createApp({
        data() {
            return {
                watchlist: {
                    MovieId: "@Model.MovieId",
                    Title: "@Model.Title",
                    Overview: "@Model.Overview",
                    poster_path: "@Model.poster_path",
                },
                showSuccess: false,

            };
        },
        methods: {
            submitWatchlist() {
                axios.post('/movie/watchlist', this.watchlist)
                    .then(response => {
                        this.watchlist = response.data;
                        this.submitSuccess = true;
                        console.log('Success:', response.data);
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            },
        }
    });

    app.mount('#app');
</script>
